html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', 'sans-serif';
}

#bg {

}

.container {
    background-color: hsl(225, 100%, 98%);
    height: auto;
    margin: 30px 35% 0;
    border-radius: 20px;
}

.header img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.info p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: hsl(224, 23%, 55%);
}

.plan {
    background-color: hsl(225, 46%, 95%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10%;
    border-radius: 8px;
}

.option-plan {
    display: flex;
    align-items: center;
}

.price {
    padding-left: 10%;
}

.price h2 {
    margin-bottom: 0;
    font-size: small;
}

.price p {
    margin-top: 0;
    font-size: small;
    color: hsl(224, 23%, 55%);
}

.change p {
    display: flex;
    font-size: small;
    color: hsl(223, 93%, 41%);
    text-decoration: underline;
    cursor: pointer;
}

.change p:hover {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

.payment {
    display: flex;
    justify-content: center;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 46%, 95%);
    margin: 5% 10%;
    border-radius: 8px;
    cursor: pointer;
    transition: 225ms background linear;
}

.payment:hover {
    background-color: hsl(224, 23%, 55%);
}