html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', 'sans-serif';
}

.container {
    background-color: hsl(225, 100%, 98%);
    min-height: 90vh;
    margin: 30px 35% 0;
    border-radius: 40px;
}

.header img {
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.info h1 {
    display: flex;
    justify-content: center;
}

.info p {
    display: flex;
    justify-content: center;
    text-align: center;
}